@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1590198688456'); /* IE9 */
  src: url('iconfont.eot?t=1590198688456#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABoQAAAJWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBEIEcATYCJAMICwYABCAFhG0HMBvCBciemjwJAGTYaAR4Mjg4g3j4msPeTza0aXvA7AAtsDAIwpBEsDH+aHwr1I0HdKd7337tVEKxef08XjIjadKV2S8+f/BMy6REiBAaMJGD5gfUEwckFZe7T9w7/b8B9EFa77zLZc1Fa1MXYBxIAe6FUWSlgWTcMHaBS7hPIFtsIHt4d3GdqUisZYG47lgiU8lFJInlW6Gu2ZvEC5W2eFhM4Hn4+fhte7QUqpJVcfziVmcW39gp7k+eT4gS0OEKJTbKSMTp2sxRecGovJwpWC6zr9Lgm/JtYq9mwf46q3gELISSe5K6slvlL0BiPFtl7BoVpJxqfc9n69G7iAfv5+ztW+6/OZ2n+imPN+zyyNCN5zl5/P7w4kNY/6H7N3QT3dxOFUH9Ryh03UP+CO32L/arO7mXAkHc7dw9tnf/r/QJfO0QmpJ+PtozeIM/Je3Zl3S5ZS2SKq0tFLbK30FLljEJB6b7G2uYdVuF0Jp1c77GohSl1koyMTei0tuJWmsfsg32h3szkLxIHdb7AghTfaMw5gtKU/2QifmLymz/qE2NEtnZmHFmb3VcqR0iFIwa5Ds4KgqNY+daVHqJ1rMvKCsPWbdIqROH6WhSzO8xRJpjQ/pizZgNGIoC2IHH0PcjiClyUfHIZo7n47Gpe9FIRUGm5hCCBIY0IL0DDiUSMv5wViu9/xKyPPMJ1NJTE7yFSMqZHEyNTHqQe03Yq+denkm9sMwwZgCDRAJgB2Yhny8C4vpZLqSwEXtEKjY3tgeZvprR+rrg645AZhmLsKeV6nPC0SLMZAAAAA==') format('woff2'),
  url('iconfont.woff?t=1590198688456') format('woff'),
  url('iconfont.ttf?t=1590198688456') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1590198688456#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e65c";
}

